body {
    overflow-x: hidden!important;
    width: 100%;
}

section {
    overflow: hidden !important;
    width: 100%;
}


.intro {
    background: #000 url(../img/sfyd-hero.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}

.project-modal {
    overflow: hidden !important;
}

#contact2 {
    background: rgb(0%, 62%, 100%);
    padding: 50px 0 50px;
}

#about {
    background: url(../img/sfyd2/header.jpg) no-repeat top center fixed !important;
    background-size: 100% auto !important;
    padding: 0 0;
    background-color: black !important;
    height: 100% !important;
}



@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content, .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin photo-mask($op:0.7){
  &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgb(21,21,21) !important;
      opacity: $op;
      width: 100vw;
      height: 100vh;
  }
}

.gridBlock {
    @include aspect-ratio(12,9);
    cursor: pointer;
    .content {
        background-size: cover !important;
        z-index: 9;
    }
    .header {
        opacity: 0;
        z-index: 999;
        background: #fff;
        text-align: left;
        padding: 20px 20px;
        transition: all 500ms ease-out;
        color: #000;
    }
    // &:hover {
    //     .header {
    //         opacity: 1;
    //         background: rgba(255,255,255, 0.7);
    //     }
    // }

}

ul.people {
    list-style: none;
    text-align: left;
    li {
        line-height: 1.5;
        margin-bottom: 15px;
        b {
            font-size: larger;
        }
    }
}

#action {
    background: url(../img/bg/bg10.jpg) center center no-repeat;
    background-size: cover !important;
    @include photo-mask($op:0.5)
    .dev {
        background: none !important;
    }
}

#team {
    background: url(../img/bg/bg2.jpg) center center no-repeat fixed;
    background-size: cover !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
    .split-padding0 {
        background: rgba(21,21,21, 0.5) !important;
    }
}

#about3 {
    background: url(../img/bg/bg7.jpg) center center no-repeat fixed;
    background-size: cover !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
    .split-padding3 {
        background: rgba(0,0,0, 0.0) !important;
        color: #fff !important;
        height: 100%;
    }
    .row {
        background: rgba(21,21,21, 0.5) !important;
    }
}

#action2 {
    padding: 50px 0 100px !important;
    display: none;
    overflow: hidden !important;
}

#project {
    background: url(../img/bg/bg11.jpg) center center no-repeat;
    background-size: cover !important;
    padding: 100px 0 100px;
    overflow: hidden !important;
    .container {
        width: 100% !important;
        padding: 0 0 0 0 !important;
    }
}

.split-padding3 {
    background-color: #fff !important;
}

#history {
    background: url(../img/bg/bg4.jpg) center center no-repeat fixed;
    background-size: cover !important;
    overflow: hidden !important;
}

#sponsor {
    background: url(../img/bg/bg7.jpg) center center no-repeat fixed;
    background-size: cover !important;
    overflow: hidden !important;
    @include photo-mask($op:0.7)
    .split-padding2 {
        background: rgba(21,21,21, 0.7) !important;
    }
}


#leadership-team {
    background: url(../img/sfyd2/header.jpg) top left no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
}
